<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Necklaces</title>
     <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

    <style>
        h1, h2, h3 {
            text-align: center;
            color: darkgoldenrod;
        }
    </style>


</head>
<body>
<h1>Sassy-Cats Designs</h1>
<h3>Necklace collection 2021</h3>
<hr>
 <div class="container">
        <div class="card-group">

            <!-- 1  bootstrap card with 3 horizontal images-->
            <div class="row">


                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace1.jpg')}}" height="450" width="300"">
                    <br>
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace1b.jpg')}}" height="120" width="90"">


                    <div class="card-body">
                        <h3 class="card-title">1 A fine necklace</h3>
                        <p class="card-text">"1  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>




                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace2.jpg')}}" height="450" width="300">

                    <div class="card-body">
                        <h3 class="card-title text-primary">2 Beautiful!</h3>
                        <p class="card-text">"2  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace3.jpg')}}" height="450" width="300">

                    <div class="card-body">
                        <h3 class="card-title">3 The sun goddess</h3>
                        <p class="card-text">"3  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>



            <!-- 2 bootstrap card with 3 horizontal images-->
            <div class="row">
                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace4.jpg')}}" height="450" width="300"">

                    <div class="card-body">
                        <h3 class="card-title">4 A fine necklace</h3>
                        <p class="card-text">"4  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace5.jpg')}}" height="450" width="300">

                    <div class="card-body">
                        <h3 class="card-title text-primary">5 Beautiful!</h3>
                        <p class="card-text">"5  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace6.jpg')}}" height="450" width="300">

                    <div class="card-body">
                        <h3 class="card-title">6 The sun goddess</h3>
                        <p class="card-text">"6  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>

<!-- -->
            <!-- 3 bootstrap card with 3 horizontal images-->
            <div class="row">
                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace7.jpg')}}" height="450" width="300"">

                    <div class="card-body">
                        <h3 class="card-title">7 A fine necklace</h3>
                        <p class="card-text">"7  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace8.jpg')}}" height="450" width="300">

                    <div class="card-body">
                        <h3 class="card-title text-primary">8 Beautiful!</h3>
                        <p class="card-text">"8  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace9.jpg')}}" height="450" width="225">
                    <br>
                   <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace9b.jpg')}}" height="320" width="120"">


                    <div class="card-body">
                        <h3 class="card-title">9 The sun goddess</h3>
                        <p class="card-text">"9  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>

<!-- -->
            <!-- 4 bootstrap card with 3 horizontal images-->
            <div class="row">
                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace10.jpg')}}" height="450" width="300"">

                    <div class="card-body">
                        <h3 class="card-title">10 A fine necklace</h3>
                        <p class="card-text">"10  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace11.jpg')}}" height="450" width="300">

                    <div class="card-body">
                        <h3 class="card-title text-primary">11 Beautiful!</h3>
                        <p class="card-text">"11  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace12.jpg')}}" height="450" width="300">

                    <div class="card-body">
                        <h3 class="card-title">12 The sun goddess</h3>
                        <p class="card-text">"12  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>

<!-- -->
            <!-- 5 bootstrap card with 3 horizontal images-->
            <div class="row">
                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace13.jpg')}}" height="450" width="300"">

                    <div class="card-body">
                        <h3 class="card-title">13 A fine necklace</h3>
                        <p class="card-text">"13  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace14.jpg')}}" height="450" width="300">

                    <div class="card-body">
                        <h3 class="card-title text-primary">14 Beautiful!</h3>
                        <p class="card-text">"14  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace15.jpg')}}" height="450" width="300">

                    <div class="card-body">
                        <h3 class="card-title">15 The sun goddess</h3>
                        <p class="card-text">"15  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>

<!-- -->
            <!-- 6 bootstrap card with 3 horizontal images-->
            <div class="row">
                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace16.jpg')}}" height="450" width="300"">

                    <div class="card-body">
                        <h3 class="card-title">16 A fine necklace</h3>
                        <p class="card-text">"16  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace17.jpg')}}" height="450" width="300">

                    <div class="card-body">
                        <h3 class="card-title text-primary">17 Beautiful!</h3>
                        <p class="card-text">"17  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace18.jpg')}}" height="450" width="300">

                    <div class="card-body">
                        <h3 class="card-title">18 The sun goddess</h3>
                        <p class="card-text">"18  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>

<!-- -->
            <!-- 7 bootstrap card with 3 horizontal images-->
            <div class="row">
                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace19.jpg')}}" height="450" width="300"">

                    <div class="card-body">
                        <h3 class="card-title">19 A fine necklace</h3>
                        <p class="card-text">"19  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace20.jpg')}}" height="450" width="300">

                    <div class="card-body">
                        <h3 class="card-title text-primary">20 Beautiful!</h3>
                        <p class="card-text">"20  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src=
"{{ url_for('static', filename='images/necklace21.jpg')}}" height="450" width="300">

                    <div class="card-body">
                        <h3 class="card-title">21 The sun goddess</h3>
                        <p class="card-text">"21  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>

<!-- -->

        </div>
    </div>




</body>
</html>